/* Home.css */
.home-container {
  text-align: center;
  padding: 50px;
}
.home-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.home-container p {
  font-size: 18px;
  text-align: center;
}

.button-group {
  margin-top: 15px;

  
}


.register-btn{
  background-color: #e91e63;
  color: white;
  width: 350px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 0;
}

.subjects-btn {
  background-color: #9c27b0;
  color: white;
  width: 350px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 0;
}

.cgpa-btn {
  background-color: #f44336;
  color: white;
  width: 350px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 0;
}
